<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/style.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <title>CinePhoria - Online Movie Database</title>
</head>

<body>
  <div class="navbar">
    <div class="navbar-container">
      <div class="logo-container">
        <h1 class="logo">CINEPHORIA</h1>
      </div>
      <div class="menu-container">
        <ul class="menu-list">
          <li class="menu-list-item active"><a href="{% url 'home' %}"
              style="text-decoration: none; color: white;">Home</a></li>
          <li class="menu-list-item">Series</li>
          <li class="menu-list-item">Popular</li>
          <li class="menu-list-item">Trends</li>
        </ul>
      </div>
      <div class="profile-container">
        <a style="margin-right: 30px;" href="{% url 'admin:index' %}">Admin</a>
        <img class="profile-picture" src="static/images/title/profile.jpg" alt="">
        <div class="profile-text-container">
          <span class="profile-text">Profile</span>
          <i class="fas fa-caret-down"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content-container">
      {% if latest_movie %}
      <div class="featured-content"
        style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('{{ latest_movie.poster.url }}');">
        <h1 class="featured-title-text">{{ latest_movie.title }}</h1>
        <p class="featured-desc">{{ latest_movie.description }}</p>
        <a class="featured-button" href="{% url 'Base' latest_movie.id %}">Watch</a>
      </div>
      {% endif %}
      <div class="movie-list-container">
        <h1 class="movie-list-title">MOVIE RELEASES</h1>
        <div class="movie-list-wrapper">
          <div class="movie-list">
            {% for movie in movies %}
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="{{ movie.poster.url }}" alt="">
              <span class="movie-list-item-title">{{ movie.title }}</span>
              <p class="movie-list-item-desc">{{ movie.description }}</p>
              <a class="movie-list-item-button" href="{% url 'Base' movie.id %}">Watch</a>
            </div>
            {% endfor %}
          </div>
          <i class="fas fa-chevron-right arrow"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="container-addmovie" style="color: white; background-color: #151515; text-align: center; margin: 0;">
    <div class="content-addmovie"><br> <br>
      <h1> Are You An Upcoming Movie Director?</h1>
      <h3> Publish your movie in our website today!</h3><br>
      <a class="featured-button" href="addmovie">JOIN</a> <br> <br> <br>

    </div>

    <div class="footer">
      <div class="footer__addr">
        <h1 class="footer__logo">CinePhoria</h1>

        <h2>Contact</h2>

        <address>
          5534 Somewhere In. The World 22193-10212<br>

          <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
        </address>
      </div>

      <ul class="footer__nav">
        <li class="nav__item">
          <h2 class="nav__title">Quick Links</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">Tamil</a>
            </li>

            <li>
              <a href="#">English</a>
            </li>

            <li>
              <a href="#">Hindi</a>
            </li>
          </ul>
        </li>

        <li class="nav__item nav__item--extra">
          <h2 class="nav__title">Socials</h2>

          <ul class="nav__ul nav__ul--extra">
            <li>
              <a href="#">Instagram</a>
            </li>

            <li>
              <a href="#">Twitter X</a>
            </li>

            <li>
              <a href="#">Facebook</a>
            </li>

            <li>
              <a href="#">Creator</a>
            </li>

            <li>
              <a href="#">Admin</a>
            </li>

            <li>
              <a href="#">Home</a>
            </li>
          </ul>
        </li>

        <li class="nav__item">
          <h2 class="nav__title">Legal</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">Privacy Policy</a>
            </li>

            <li>
              <a href="#">Terms of Use</a>
            </li>

            <li>
              <a href="#">Sitemap</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="legal">
        <p>&copy; 2024 CinePhoria. All rights reserved.</p>


      </div>
    </div>

    <script src="static/js/script.js"></script>

</body>

</html>