{% extends "main/moviebase.html" %}

{% block title %} {{ mn.name }} {% endblock %}

{% block moviename %} {{ mn.name }} {% endblock %}
{% block director %} {{ mn.director_set.all }} {% endblock %}
{% block discription %} {{ mn.desc_set.all }} {% endblock %}

{% block genre %} {{ mn.genre_set.all }} {% endblock %}
{% block cast %} {{ mn.actor1_set.all }}, {{ mn.actor2_set.all }} {% endblock %}
{% block duration %} {{ mn.duration_set.all }} {% endblock %}

{% block imdb %} {{ mn.imdb_set.all }} {% endblock %}
{% block rt %} {{ mn.rottentomatoes_set.all }} {% endblock %}
{% block year %} {{ mn.releasedate_set.all }} {% endblock %}

