{% extends "main/moviebase.html" %}

{% block title %} {{ movie.title }} {% endblock %}

{% block moviename %} {{ movie.title }} {% endblock %}

{% block poster %}
    <img src="{{ movie.poster.url }}" alt="poster" style="width: 300px; height: 450px;">
{% endblock %}


{% block director %}
    {{ movie.director.name }}
{% endblock %}


{% block discription %}
    {{ movie.description }}
{% endblock %}


{% block genre %}
    {{ movie.genre }}
{% endblock %}


{% block cast %}
    {% for actor in movie.actors.all %}
        {{ actor.name }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
{% endblock %}


{% block duration %}
    {{ movie.duration }}
{% endblock %}


{% block imdb %}
    {{ movie.imdb_rating }}
{% endblock %}


{% block rt %}
    {{ movie.rottentomatoes_rating }}
{% endblock %}


{% block year %}
    {{ movie.release_date }}
{% endblock %}