<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/style.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <title>CinePhoria - Online Movie Database</title>
</head>

<body>
  <div class="navbar">
    <div class="navbar-container">
      <div class="logo-container">
        <h1 class="logo">CINEPHORIA</h1>
      </div>
      <div class="menu-container">
        <ul class="menu-list">
          <li class="menu-list-item active">Home</li>
          <li class="menu-list-item">Movies</li>
          <li class="menu-list-item">Series</li>
          <li class="menu-list-item">Popular</li>
          <li class="menu-list-item">Trends</li>
        </ul>
      </div>
      <div class="profile-container">
        <a style="margin-right: 30px;" href="admin">Admin</a>
        <img class="profile-picture" src="static/images/title/profile.jpg" alt="">
        <div class="profile-text-container">
          <span class="profile-text">Profile</span>
          <i class="fas fa-caret-down"></i>
        </div>
        <div class="toggle">
          <i class="fas fa-moon toggle-icon"></i>
          <i class="fas fa-sun toggle-icon"></i>
          <div class="toggle-ball"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content-container">
      <div class="featured-content"
        style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('static/images/top/leo.png');">
        <img class="featured-title" src="static/images/title/leo-title.png" alt="title">
        <p class="featured-desc">Living peacefully in Himachal Pradesh, Parthiban, a cafe owner, becomes a local hero.
          However, his life gets turned upside down when gangsters mistake him for a long-lost son of a notorious
          criminal. </p>
          <a class="featured-button" href="2">Watch</a>
      </div>
      <div class="movie-list-container">
        <h1 class="movie-list-title">TAMIL RELEASES</h1>
        <div class="movie-list-wrapper">
          <div class="movie-list">
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="static/images/tamil/vikram2.jpeg" alt="">
              <span class="movie-list-item-title">VIKRAM</span>
              <p class="movie-list-item-desc">A black ops cop hunts masked vigilantes, but the trail leads to a drug
                kingpin and a shocking conspiracy.</p>
                <a class="movie-list-item-button" href="3">Watch</a>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="static/images/tamil/vadachennai.jpeg" alt="">
              <span class="movie-list-item-title">VADA CHENNAI</span>
              <p class="movie-list-item-desc">A skilled carrom player gets entangled with gangsters in North Chennai.
              </p>
              <a class="movie-list-item-button" href="1">Watch</a>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="static/images/tamil/maankarate.jpg" alt="">
              <span class="movie-list-item-title">MAAN KARATE</span>
              <p class="movie-list-item-desc">An IT worker with zero fighting skills becomes an accidental boxing
                champion through his dodging abilities.</p>
              <a class="movie-list-item-button" href="4">Watch</a>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="static/images/tamil/billa.jpeg" alt="">
              <span class="movie-list-item-title">BILLA</span>
              <p class="movie-list-item-desc">Undercover cop replaces a notorious underworld don who's presumed dead,
                but faces danger when the cop overseeing the mission is killed.</p>
              <a class="movie-list-item-button" href="5">Watch</a>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="static/images/tamil/merasal.jpeg" alt="">
              <span class="movie-list-item-title">MERSAL</span>
              <p class="movie-list-item-desc">Two brothers, a magician and a kind doctor, join forces to expose a
                corrupt medical industry and avenge their parents' deaths.</p>
              <a class="movie-list-item-button" href="6">Watch</a>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="static/images/tamil/singam3.jpeg" alt="">
              <span class="movie-list-item-title">SINGAM 3</span>
              <p class="movie-list-item-desc">Honest cop Durai Singam battles a ruthless businessman exploiting toxic
                waste while seeking justice for a murdered officer.</p>
              <a class="movie-list-item-button" href="7">Watch</a>
            </div>
          </div>
          <i class="fas fa-chevron-right arrow"></i>
        </div>
      </div>
      <div class="featured-content"
        style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('static/images/top/hangover2.jpg'); background-repeat: no-repeat;background-size: cover;">
        <img class="featured-title" src="static/images/title/hangover.png" alt="title" style="width: 300px;">
        <p class="featured-desc">Stu's seemingly safe pre-wedding brunch in Thailand takes a wild turn, leaving him and
          his friends with another amnesia-fueled mystery to solve, this time with a missing brother-in-law. </p>
        <a class="featured-button" href="8">Watch</a>
      </div>
      <div class="movie-list-container">
        <h1 class="movie-list-title">ENGLISH RELEASES</h1>
        <div class="movie-list-wrapper">
          <div class="movie-list">
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="static/images/english/barbie.jpg" alt="">
              <span class="movie-list-item-title">BARBIE</span>
              <p class="movie-list-item-desc">Childhood icons Barbie and Ken navigate the real world after being
                expelled from their utopian plastic world.</p>
              <a class="movie-list-item-button" href="9">Watch</a>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="static/images/english/bladerunner2049.jpg" alt="">
              <span class="movie-list-item-title">BLADERUNNER</span>
              <p class="movie-list-item-desc">A bladerunner unearths a long-lost secret that forces him to hunt down a
                former bladerunner and confront what it means to be human.</p>
              <a class="movie-list-item-button" href="10">Watch</a>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="static/images/english/fight-club.jpg" alt="">
              <span class="movie-list-item-title">FIGHT CLUB</span>
              <p class="movie-list-item-desc">A disillusioned insomniac forms an underground fight club with a
                charismatic soap maker, but their project spirals into mayhem.</p>
              <a class="movie-list-item-button" href="11">Watch</a>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="static/images/english/midsommer.jpg" alt="">
              <span class="movie-list-item-title">MIDSOMMER</span>
              <p class="movie-list-item-desc">A couple travels to a Swedish midsummer festival that turns into a
                terrifying nightmare as an innocent pagan cult reveals its dark rituals.</p>
              <a class="movie-list-item-button" href="12">Watch</a>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="static/images/english/interstellar.png" alt="">
              <span class="movie-list-item-title">INTERSTELLAR</span>
              <p class="movie-list-item-desc">Astronaut Cooper travels through a wormhole to find a new home for
                humanity on a dying Earth. </p>
              <a class="movie-list-item-button" href="13">Watch</a>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="static/images/english/thebatman.jpeg" alt="">
              <span class="movie-list-item-title">THE BATMAN</span>
              <p class="movie-list-item-desc">A vengeance-fueled Batman hunts the Riddler, a sadistic serial killer
                targeting Gotham's corrupt elite.</p>
              <a class="movie-list-item-button" href="14">Watch</a>
            </div>

          </div>
          <i class="fas fa-chevron-right arrow"></i>
        </div>
      </div>
      <div class="featured-content"
        style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('static/images/top/barfi_ver5.jpg'); background-repeat: no-repeat;background-size: cover;">
        <img class="featured-title" src="static/images/title/barfi-title.png" alt="title" style="width: 300px;">
        <p class="featured-desc">Barfi, a deaf-mute man full of life, finds love twice: with Shruti, a woman bound by
          societal expectations, and Jhilmil, a free spirit on the autism spectrum. Their unconventional love stories
          challenge societal norms. </p>
        <a class="featured-button" href="15">Watch</a>
      </div>
      <div class="movie-list-container">
        <h1 class="movie-list-title">HINDI RELEASES</h1>
        <div class="movie-list-wrapper">
          <div class="movie-list">
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="static/images/hindi/gullyboy.jpg" alt="">
              <span class="movie-list-item-title">GULLY BOY</span>
              <p class="movie-list-item-desc">A street rapper from the Mumbai slums finds his voice and challenges
                social expectations through his music.</p>
              <a class="movie-list-item-button" href="16">Watch</a>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="static/images/hindi/jawan.jpg" alt="">
              <span class="movie-list-item-title">JAWAN</span>
              <p class="movie-list-item-desc">Jawan, meaning "soldier", a mysterious man and his father – who fight
                against societal corruption, each with their own methods. </p>
              <a class="movie-list-item-button" href="17">Watch</a>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="static/images/hindi/omshantiom.jpg" alt="">
              <span class="movie-list-item-title">OM SHANTI OM</span>
              <p class="movie-list-item-desc">A junior artist in 1970s Bollywood is reincarnated into a superstar,
                seeking revenge on the producer who killed his past love.</p>
              <a class="movie-list-item-button" href="18">Watch</a>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="static/images/hindi/LUN.jpg" alt="">
              <span class="movie-list-item-title">THE LUNCH BOX</span>
              <p class="movie-list-item-desc">A delicious delivery error sparks an unlikely friendship between a
                housewife and a widower through notes hidden in a lunchbox. </p>
              <a class="movie-list-item-button" href="19">Watch</a>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="static/images/hindi/Pathaan.jpg" alt="">
              <span class="movie-list-item-title">PATHAAN</span>
              <p class="movie-list-item-desc">A disgraced Indian agent joins forces with a Pakistani agent to stop a
                rogue ex-agent from launching a deadly virus attack on India. </p>
              <a class="movie-list-item-button" href="20">Watch</a>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="static/images/hindi/Animal2.jpg" alt="">
              <span class="movie-list-item-title">ANIMAL</span>
              <p class="movie-list-item-desc">A hardened son unleashes vengeance upon those threatening his powerful
                industrialist father.</p>
              <a class="movie-list-item-button" href="21">Watch</a>
            </div>
          </div>
          <i class="fas fa-chevron-right arrow"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="container-addmovie" style="color: white; background-color: #151515; text-align: center; margin: 0;">
    <div class="content-addmovie"><br> <br>
      <h1> Are You An Upcoming Movie Director?</h1>
      <h3> Publish your movie in our website today!</h3><br>
      <a class="featured-button" href="addmovie">JOIN</a> <br> <br> <br>

  </div>
  
  <div class="footer">
    <div class="footer__addr">
      <h1 class="footer__logo">CinePhoria</h1>
          
      <h2>Contact</h2>
      
      <address>
        5534 Somewhere In. The World 22193-10212<br>
            
        <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
      </address>
    </div>
    
    <ul class="footer__nav">
      <li class="nav__item">
        <h2 class="nav__title">Quick Links</h2>
  
        <ul class="nav__ul">
          <li>
            <a href="#">Tamil</a>
          </li>
  
          <li>
            <a href="#">English</a>
          </li>
              
          <li>
            <a href="#">Hindi</a>
          </li>
        </ul>
      </li>
      
      <li class="nav__item nav__item--extra">
        <h2 class="nav__title">Socials</h2>
        
        <ul class="nav__ul nav__ul--extra">
          <li>
            <a href="#">Instagram</a>
          </li>
          
          <li>
            <a href="#">Twitter X</a>
          </li>
          
          <li>
            <a href="#">Facebook</a>
          </li>
          
          <li>
            <a href="#">Creator</a>
          </li>
          
          <li>
            <a href="#">Admin</a>
          </li>
          
          <li>
            <a href="#">Home</a>
          </li>
        </ul>
      </li>
      
      <li class="nav__item">
        <h2 class="nav__title">Legal</h2>
        
        <ul class="nav__ul">
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          
          <li>
            <a href="#">Terms of Use</a>
          </li>
          
          <li>
            <a href="#">Sitemap</a>
          </li>
        </ul>
      </li>
    </ul>
    
    <div class="legal">
      <p>&copy; 2024 CinePhoria. All rights reserved.</p>
      
     
    </div>
  </div>

  <script src="static/js/script.js"></script>

</body>

</html>


