{% extends "main/moviebase.html" %}

{% block title %} {{ mn.name }} {% endblock %}

{% block moviename %} {{ mn.name }} {% endblock %}



{% block poster %} 
    {% for image in mn.image_set.all %}
        {{ image.image }}
    {% endfor %} 
{% endblock %}


{% block director %} 
    {% for director in mn.director_set.all %}
        {{ director.director }}
    {% endfor %} 
{% endblock %}


{% block discription %} 
    {% for desc in mn.desc_set.all %}
        {{ desc.description }}
    {% endfor %}
{% endblock %}


{% block genre %} 
    {% for genre in mn.genre_set.all %}
        {{ genre.genre }}
    {% endfor %}    
{% endblock %}


{% block cast %} 
    {% for Actor1 in mn.actor1_set.all %}
        {{ Actor1.Actor1 }}
    {% endfor %}
{% endblock %}


{% block actor %}    
    {% for Actor2 in mn.actor2_set.all %}
        {{Actor2.Actor2 }}
    {% endfor %}
{% endblock %}


{% block duration %} 
    {% for duration in mn.duration_set.all %}
        {{ duration.duration }}
    {% endfor %}
{% endblock %}


{% block imdb %} 
    {% for IMDB in mn.imdb_set.all %}
        {{ IMDB.IMDB }}
    {% endfor %} 
{% endblock %}


{% block rt %} 
    {% for rottentomatoes in mn.rottentomatoes_set.all %}
        {{ rottentomatoes.rottentomatoes }}
    {% endfor %}
{% endblock %}


{% block year %} 
    {% for releasedate in mn.releasedate_set.all %}
        {{ releasedate.releasedate }}
    {% endfor %} 
{% endblock %}

