
  .navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    position: sticky;
    top: 0;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    font-size: 30px;
    color: #bd0000;
  }
  
  .menu-container {
    flex: 6;
  }
  
  .menu-list {
    display: flex;
    list-style: none;
  }
  
  .menu-list-item {
    margin-right: 30px;
  }
  
  .menu-list-item.active {
    font-weight: bold;
  }
  
  .profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .profile-text-container {
    margin: 0 20px;
  }
  
  .profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  
  .toggle-icon {
    color: goldenrod;
  }
  
  .toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
  }
  
  
  .left-menu-icon {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
  }
      
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #0f171e;
    }

    .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    }

    .row1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 10px;
      padding-bottom: 10px;
    }
    
    .row2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
    
    .movie-poster {
    width: 100px;
    height: 150px;
    max-height: 2000px; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
    margin-right: 20px; /* Add some space between poster and details */
    /* Specify the relative path of the image for the poster */
    }

    .movie-details {
    width: 60%;
    background-color: #0f171e;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .watch-button {
    background-color: #28a745; /* Green color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    }



    
